# --- Build Artifacts ---
**/.pio/
**/.pioenvs/
**/.piolibdeps/
**/build/
**/*.elf
**/*.bin
**/*.map
**/*.hex

# --- IDE & System ---
.vscode/
.cursor/
.DS_Store
Thumbs.db
*.code-workspace

# --- Project Specific ---
**/sdkconfig
**/sdkconfig.old
node_modules/